body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; /* 마우스 호버 효과를 위한 트랜지션 추가 */
}

.post:hover {
    background-color: #f0f0f0; /* 마우스 호버 시 배경색 변경 */
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-meta {
    font-size: 14px;
    color: #666;
}

.post-content {
    font-size: 16px;
    margin-top: 10px;
}

.login-text {
    text-align: right;
}

.btnBox {
    align-items: center;
}

.btnBox2 {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽 끝에 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.btn-write-post {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn-back {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    list-style: none;
    text-align: center; /* 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
}

.pagination li {
    display: inline;
    margin: 0 10px;
}

.pagination a {
    text-decoration: none;
    background-color: #0074d9;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.pagination .current {
    background-color: #333;
}

.post-views {
    font-size: 14px;
    color: #999;
}