body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center {
    text-align: center;
}

.button-container {
    text-align: center;
}

.button-text {
    font-size: 100px; /* 크기를 조정할 수 있습니다. */
    font-weight: bold; /* 굵게 표시할 수 있습니다. */
    margin-bottom: 100px; /* 버튼과의 간격을 조정할 수 있습니다. */
}

.login-text {
    font-size: 20px; /* 크기를 조정할 수 있습니다. */
    font-weight: bold; /* 굵게 표시할 수 있습니다. */
    margin-bottom: 100px; /* 버튼과의 간격을 조정할 수 있습니다. */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}