<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/boardList.css">
  <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/boardList.js"></script>
  <title>게시판</title>
</head>
<body>
  <header>
    <h1>게시판 목록</h1>
  </header>
  <div class="container">
    <div class="btnBox2">
      <a class="btn-back" onclick="goBack()">뒤로가기</a>
      <a class="btn-write-post" href="/boardWritePage">게시글 작성하기</a>
    </div>
    <br><br>
    <span class="login-text">현재 로그인 정보 : <span th:if="${loginSession}" th:text="${user.userName}"></span></span>
    <div th:each="board : ${boardList}">
      <div class="post" th:onclick="'getBoardInfo(\'' + ${board.userId} + '\', \'' + ${board.boardId} + '\')'">
        <div class="post-title" th:text="${board.title}"></div>
        <div class="post-meta" th:text="'작성일: ' + ${#temporals.format(board.createDateTime, 'yyyy-MM-dd HH:mm') }"></div>
        <div class="post-views" th:text="'조회수: ' + ${board.boardView}"></div>
        <input type="hidden" id="userId" th:value="${board.userId}">
        <input type="hidden" id="boardId" th:value="${board.boardId}">
      </div>
    </div>
    <!-- 페이징 -->
      <div class="btnBox">
        <ul class="pagination">
          <li><a href="#" th:if="${beforePage}" id="beforePageButton" class="prev">이전</a></li>
          <li><span th:text="${page}"></span></li>
          <li><a href="#" th:if="${nextPage}" id="nextPageButton" class="next">다음</a></li>
        </ul>
      </div>
      <input type="hidden" id="startIdx" th:value="${startIdx}">
      <input type="hidden" id="page" th:value="${page}">
  </div>
</body>
</html>