<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글</title>
  <link rel="stylesheet" href="/css/boardWrite.css">
  <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/boardInfo.js"></script>
</head>
<body>
<div class="container">
  <h1 th:text="${board.title}">제목</h1>
  <label for="content">조회수 : <span th:text="${board.boardView}"></span></label>
  <br>
  <form>
    <label for="content">글 내용</label>
    <textarea th:text="${board.content}" id="content" name="content" rows="20" required readonly></textarea>

    <div class="button-container">
      <button type="button" th:if="${fixPossible}" id="updateButton">수정하기</button>
      <button type="button" th:if="${fixPossible}" id="deleteButton">삭제하기</button>
      <button type="button" onclick="goBack()">뒤로 가기</button>
    </div>
    <input type="hidden" id="userId" th:value="${board.userId}" >
    <input type="hidden" id="boardId" th:value="${board.boardId}" >
  </form>
</div>
</body>
</html>