<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 작성</title>
  <link rel="stylesheet" href="/css/boardWrite.css">
  <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/boardWrite.js"></script>
</head>
<body>
<div class="container">
  <h1>게시글 작성</h1>
  <form>
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" maxlength="40" required>

    <label for="content">글 내용:</label>
    <textarea id="content" name="content" rows="20" required></textarea>

    <div class="button-container">
      <button type="button" id="writeButton">작성하기</button>
      <button type="button" onclick="goBack()">뒤로 가기</button>
    </div>
    <input type="hidden" id="userId" th:value="${user.userId}" >
  </form>
</div>
</body>
</html>