<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/login.js"></script>
  <title>로그인</title>
</head>
<body>
  <div class="login-container">
    <h1>로그인</h1>
      <div class="input-container">
        <input type="text" id="loginId" placeholder="아이디" required>
      </div>
      <div class="input-container">
        <input type="password" id="password" placeholder="비밀번호" required>
      </div>
      <button type="button" id="loginButton" >로그인</button>
      <p>아직 회원이 아니신가요? <a href="/joinPage">회원가입</a></p>
  </div>
</body>
</html>