<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/main.js"></script>
    <title>CRUD Main</title>
</head>
<body>
    <div class="center">
        <div class="button-container">
            <span class="login-text">현재 로그인 정보 : <span th:if="${loginSession}" th:text="${user.userName}"></span><span th:if="${not loginSession}">없음</span></span>
            <br>
            <span class="button-text">CRUD</span>
            <br>
            <button class="button" th:if="${not loginSession}" onclick="location.href='/loginPage'">로그인하기</button>
            <button class="button" type="button" id="logoutButton" th:if="${loginSession}" >로그아웃</button>
            <button class="button" type="button" id="myInfoButton" th:if="${loginSession}" onclick="location.href='/userInfoPage'" >내 정보</button>
            <button class="button" th:if="${loginSession}" onclick="location.href='/boardListPage'">게시글 보러가기</button>
            <button class="button" th:if="${not loginSession}" onclick="plzLoginAlert()">게시글 보러가기</button>
        </div>
    </div>
</body>
</html>