<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/userInfo.css">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/userInfo.js"></script>
  <title>내 정보</title>
</head>
<body>
  <div class="login-container">
    <h1>내 정보</h1>
      <div class="input-container">
        ID : <input type="text" id="loginId" th:value="${user.loginId}" required readonly>
      </div>
      <div class="input-container">
        이름 : <input type="text" id="userName" maxlength="40" th:value="${user.userName}" required>
      </div>
      <button type="button" id="updateButton" >수정하기</button>
      <button type="button" id="deleteButton" >회원탈퇴</button>
      <button type="button" onclick="location.href='/'" >뒤로 가기</button>
  </div>
</body>
</html>